.footer {
  padding-top: 140px;
}
.footer .container .footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  padding-bottom: 116px;
}
.footer .container .footer-top-items h2 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 7px;
  color: #211f54;
  max-width: 256px;
}
.footer .container .footer-top-items p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 304px;
  margin-bottom: 32px;
}
.footer .container .footer-top-items2 h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #211f54;
  margin-bottom: 29px;
}
.footer .container .footer-top-items2 p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #6e7191;
  margin-bottom: 17px;
}
.footer .container .footer-top-items3 h1 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #211f54;
  margin-bottom: 28px;
}
.footer .container .footer-top-items3 h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
  color: #211f54;
}
.footer .container .footer-top-items3 h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #6e7191;
  opacity: 0.6;
}
.footer .container .footer-top-items4 h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 28px;
}
.footer .container .footer-top-items4 h4 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #0075ff;
}
.footer .container .footer-top-items4 p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 18px;
  color: #6e7191;
}
.footer .container .footer-top-items4 button {
  padding: 26px 38px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background: #0075ff;
  border-radius: 10px;
}
.footer .container .footer-top-items4 button:hover {
  -webkit-box-shadow: 0px 3px 3px 3px rgb(228, 224, 224);
          box-shadow: 0px 3px 3px 3px rgb(228, 224, 224);
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0075ff;
}
.footer .container .hr {
  opacity: 0.3;
}
.footer .container .footer-bootom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 32px;
  padding-top: 32px;
}
.footer .container .footer-bootom .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.footer .container .footer-bootom .left p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;
  color: #6e7191;
}
.footer .container .footer-bootom .left a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;
  color: #0075ff;
}

@media (max-width: 1240px) {
  .footer .container .footer-top {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 790px) {
  .footer .container .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .footer .container .footer-top {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer .container .footer-top .footer-top-items h2 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .footer .container .footer-top .footer-top-items p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .footer .container .footer-top .footer-top-items img {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .footer .container .footer-top .footer-top-items2 h2,
  .footer .container .footer-top .footer-top-items2 p {
    text-align: center;
  }
  .footer .container .footer-top .footer-top-items3 h1,
  .footer .container .footer-top .footer-top-items3 h2,
  .footer .container .footer-top .footer-top-items3 h3 {
    text-align: center;
  }
  .footer .container .footer-top .footer-top-items4 h3,
  .footer .container .footer-top .footer-top-items4 h4,
  .footer .container .footer-top .footer-top-items4 p {
    text-align: center;
  }
  .main .contact .container .contact-right button {
    display: block;
    margin: 0 auto;
  }
  .main .contact .container .contact-left button {
    display: block;
    margin: 0 auto;
  }
}